<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WebEncuestas</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid" style="background-color: #F5DA81;">
	<div class="row">
		<div class="col-md-12">
            <center>
                <h1 class="text-center"> Web-Encuestas </h1>
                <div class="row" style="height: 40px"></div>
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center"> Términos y Condiciones </h3>
                            <center><div style="height:220px;width:1020px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color: #fff;">
                                <p> TERMINOS Y CONDICIONES

                                    Las presentes condiciones generales regulan la relación contractual por la que se adquieren los servicios que WEB-ENCUESTAS.COM ofrece a través de su aplicación web. El uso de cualquiera de los servicios de encuesta expresa la adhesión plena y sin reservas del usuario a las presentes condiciones generales de contratación. Cualquier persona física o jurídica, el Usuario en adelante, que acceda a la aplicación web o a cualquier información contenida en el sitio web de encuestas, conviene los siguientes términos y condiciones:

                                    PRIMERA.- OBJETO Y DESCRIPCIÓN DE LOS SERVICIOS REALIZADOS POR E-ENCUESTA
                                    El presente contrato tiene por objeto los servicios de ENCUESTA relacionados con la gestión de encuestas, por parte del Usuario, a través de la plataforma de www.web-encuesta.com (en adelante, el Servicio). El Servicio permite al Usuario crear y distribuir sus propias encuestas y acceder a los resultados de las mismas en tiempo real. Incluye el uso del software, mecanismos de almacenamiento de datos, bases de datos y diseños relacionados, la documentación en línea o electrónica. Al registrarse como usuario éste dispone de una versión básica de la plataforma. WEB-ENCUESTAS se reserva el derecho de modificar dicha oferta sin previo aviso.

                                    SEGUNDA.- ACCESO DE USUARIO
                                    El usuario es el único responsable de mantener la confidencialidad de sus datos. El usuario se compromete a: (I) notificar inmediatamente a WEB-ENCUESTAS cualquier uso no autorizado de sus datos o de cualquier otro aspecto de seguridad.

                                    TERCERA.-RESPONSABILIDADES DEL USUARIO
                                    Cualquier información, textos, datos, mensajes u otro material (contenido) que sean enviados o adjuntados al público por medio de la aplicación son de total responsabilidad del usuario. Es por tanto el usuario, y no WEB-ENCUESTAS, el único responsable del contenido enviado, transmitido o que de alguna otra manera haya sido facilitado por medio de la aplicación. WEB-ENCUESTAS no controla el contenido enviado por medio de su servicio, por lo que no garantiza la exactitud, integridad o calidad de dicho contenido. WEB-ENCUESTAS no es bajo ninguna circunstancia responsable de dicho contenido, ni de los errores u omisiones, o de algún daño o pérdida de cualquier tipo en que se incurra como resultado del uso de cualquier contenido enviado por correo electrónico o transmitido bajo algún otro medio del servicio prestado.

                                    El usuario acuerda procurar no dañar, negar, cortar el servicio o interferir de otra manera con la web de WEB-ENCUESTAS. En caso de interferir de cualquier manera con el web site de WEB-ENCUESTAS, éste deberá pagar todos los daños incurridos a WEB-ENCUESTAS, incluyendo cualquier daño consecuente, y conviene que dichos daños serán la estimación de los perjuicios más el alta prevista por WEB-ENCUESTAS.

                                    El usuario se compromete a no utilizar el servicio para:

                                    Enviar, transmitir o hacer de alguna otra manera disponible cualquier contenido ilegal, que dañe o que amenace a otra persona.
                                    Dañar a menores de edad.
                                    Enviar encuestas a menores de 16 de años de edad.
                                    Hacerse pasar por cualquier persona o entidad.
                                    Hacer disponible algún contenido sin tener el derecho a hacerlo bajo alguna ley o relaciones contractuales.
                                    Hacer disponible cualquier contenido que infrinja alguna patente, marca registrada, secreto comercial, copyright u otros derechos de propiedad.
                                    Spam: Hacer publicidad no autorizada.
                                    Interferir con el servicio, servidores o redes conectadas con el servicio o desobedecer cualquier requisito, procedimiento, política o regulación de las redes conectadas con el servicio.
                                    Violar intencionadamente o no cualquier ley local, de ámbito nacional o internacional.

                                    El incumplimiento de alguna de las cláusulas descritas anteriormente libera a WEB-ENCUESTAS de su contrato o de cualquier otra obligación legal con el usuario. WEB-ENCUESTAS se reserva el derecho a no prestar alguno o todos los servicios a cualquier usuario por cualquier razón y en cualquier momento. El usuario está de acuerdo en que WEB-ENCUESTAS puede bloquear su dirección IP en cualquier momento, así como no permitir el uso del web site de WEB-ENCUESTAS.

                                    CUARTA.-POLÍTICA ANTI SPAM (PUBLICIDAD NO AUTORIZADA)
                                    El usuario reconoce, garantiza y se compromete con los siguientes aspectos sobre nuestra política sobre publicidad no autorizada:

                                    No hacer publicidad no autorizada o spam utilizando el servicio de WEB-ENCUESTAS.
                                    El usuario entiende que WEB-ENCUESTAS aloja encuestas.
                                    El usuario manifiesta que tiene una relación profesional o personal con las personas a las que les envía las encuestas o bien que esas personas han dado su consentimiento para que se les envíe correo electrónico.
                                    El usuario se compromete a no infringir ninguna ley local ni extranjera en materia de spam o correo electrónico no deseado.

                                    WEB-ENCUESTAS se reserva el derecho de bloquear el IP del usuario, sin previo aviso, si considera que sus actividades no respetan esta política anti-spam.

                                    QUINTA.-MODIFICACIONES EN EL SERVICIO DE WEB-ENCUESTAS
                                    WEB-ENCUESTAS se reserva el derecho a modificar o interrumpir, temporal o permanentemente el Servicio (o cualquier parte de este) sin previo aviso. El usuario está de acuerdo en que WEB-ENCUESTAS no se responsabilizará ante él ni ante terceras personas por modificar, suspender o discontinuar el servicio. El usuario conviene que WEB-ENCUESTAS no tiene responsabilidad por la cancelación o falta de almacenamiento de los datos de la encuesta u otros contenidos mantenidos o transmitidos por el servicio. El usuario reconoce que WEB-ENCUESTAS se reserva el derecho a cambiar prácticas y límites generales en cualquier momento y sin previo aviso.

                                    SEXTA.- ENLACES A TERCEROS
                                    WEB-ENCUESTAS no representa a ninguna web que no se encuentre bajo su control y que pueda acceder desde e-encuesta por medio de un link, frame o algún otro medio. Cualquier link, frame u otro medio para acceder a la página de enlace proporcionada por e-encuesta, no constituye la recomendación o aceptación del web site por lo que e-encuesta no se responsabiliza del contenido de dicho sitio.

                                    SEPTIMA.- RESPONSABILIDAD DE WEB-ENCUESTAS
                                    La información, el software, los productos, y los servicios disponibles o incluidos WEB-ENCUESTAS pueden incluir inexactitudes o errores tipográficos, por lo que WEB-ENCUESTAS se reserva el derecho a realizar cambios y mejoras de forma periódica.

                                    El usuario conviene específicamente que WEB-ENCUESTAS no será responsable del acceso desautorizado o de la alteración de sus transmisiones o datos, ningún material o datos enviados o recibidos o no enviados o recibidos, o cualquier transacción que haya entrado por medio del servicio o página web de WEB-ENCUESTAS. El usuario conviene específicamente que WEB-ENCUESTAS no es responsable de ninguna amenaza, contenido o conducta difamatoria, obscena, ofensiva o ilegal de cualquier otra parte o cualquier infracción de otros derechos de otra persona, incluyendo los derechos de propiedad intelectual. El usuario conviene específicamente que WEB-ENCUESTAS no es responsable de ningún contenido enviado y/o incluido en un sitio web/Servicio de e-encuesta o de algún tercero.

                                    Debido a la naturaleza de Internet en general y los servicios interactivos en particular, WEB-ENCUESTAS no ofrece ninguna garantía ni compromiso de que la utilización de e-encuesta sea libre de interrupciones o errores, y WEB-ENCUESTAS no tendrá ninguna responsabilidad u obligación relacionada con comunicaciones o defectos, demoras o fallos de la red (tanto si son temporales como si no) mientras se utiliza el web site WEB-ENCUESTAS. En este sentido, e-encuesta se compromete a mantener los más altos niveles de calidad del servicio en la medida de sus posibilidades, sin perjuicio de todo lo anterior.

                                    El usuario reconoce que debe utilizar su propia habilidad y sus criterios cuando utilice el Servicio e-encuesta y que utiliza el mismo, bajo su responsabilidad. A su vez el usuario será responsable de la utilización de los datos obtenidos a través del Servicio WEB-ENCUESTAS.

                                    OCTAVA.- MEDIDAS DE SEGURIDAD
                                    WEB-ENCUESTAS manifiesta que tiene implantadas las medidas de índole técnica y organizativas necesarias que garantizan la seguridad de los datos de carácter personal, evitando su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta de la naturaleza de los datos que va a tratar y los riesgos a los que dichos datos puedan estar expuestos, siendo las medidas de seguridad exigibles de nivel BÁSICO. Dichas medidas se refieren a los ficheros, centros de tratamiento, locales, equipos, sistemas, programas y personas que intervengan en el tratamiento.

                                    NOVENA.- TRANSMISIÓN DE INFORMACIÓN DEL USUARIO A TERCEROS
                                    WEB-ENCUESTAS puede almacenar cierta información personal y utilizarla para ofrecer al usuario servicios personalizados, información y ofertas y encuestas a través de nuestros servicios. El usuario puede pedir a WEB-ENCUESTAS en cualquier momento que deje de proveer estos servicios. En ciertas circunstancias podemos necesitar revelar información sobre el usuario si infringe los términos y condiciones. WEB-ENCUESTAS también puede revelar o acceder a la cuenta del usuario si la ley o cualquier administración pública o gubernamental lo requiere.

                                    DECIMA.- USO DE COOKIES
                                    El acceso a nuestra web implica la utilización de cookies con el objeto de reconocer a los usuarios que se hayan registrado y poder ofrecerles un mejor servicio y más personalizado, así como información técnica.

                                    Las cookies son ficheros de texto de tamaño pequeño que se almacenan en el disco duro o en la memoria del ordenador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente puede utilizarse.

                                    Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su ordenador, puede configurar su navegador a tal efecto:

                                    Microsoft Internet Explorer > menú Herramientas > Opciones de Internet > Privacidad > Configuración
                                    Google Chrome > menú Herramientas > Configuración > Mostrar opciones avanzadas > Privacidad (Configuración de Contenido) > Cookies
                                    Firefox > menú Herramientas > Opciones > Privacidad > Cookies </p>
                                </center></div>
                        </div>
                    </div>
                    <div class="row" style="height: 40px"></div>
                    <div class="row" style="width: 50%; margin: 0 auto; text-align: center">
                        <p>Al apretar aceptar usted esta aceptando los términos y condiciones.</p>
                    </div>
                    <div class="col-md-12">
                        <center>
                            <input type="submit" tyle="width: 50%; margin: 0 auto; text-align: center" value="Aceptar"/>
                        </center>
                    </div>
                </form>
            </center>
        </div>
	</div>
</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
